.container {
  padding: 4rem;
}

.container > h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 13.75px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.container > button {
  margin-inline: auto;
  margin-bottom: 3rem;
}

.shows {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.shows > div {
  flex-basis: calc(33% - 10px);
}
