.container {
  padding: 72px 4rem;
}

.container > h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 13.75px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.servicesSection {
  display: flex;
  gap: 20px;
  row-gap: 40px;
  flex-wrap: wrap;
}

.servicesSection > div {
  flex-basis: calc(33% - 10px);
}
